body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
.container {
  display: flex;
  margin: 20px;
}
.box {
  border: 1px solid black;
  padding: 20px;
  width: 50%;
  margin: 10px;
}
.box1 {
  position: relative;
}
.chiken {
  background-color: rosybrown;
  border: 1px solid black;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  width: 100px;
  top: 0px;
  right: 0px;
}
.box2 {
  position: relative;
}
.beef {
  background-color: rgb(175, 0, 0);
  color: aliceblue;
  border: 1px solid black;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  width: 100px;
  top: 0px;
  right: 0px;
}
.box3 {
  position: relative;
}
.sushi {
  background-color: rgb(218, 215, 73);
  border: 1px solid black;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  width: 100px;
  top: 0px;
  right: 0px;
  display: ;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-wrap: wrap;
    margin-right: 10px;
  }
  .box {
    width: 41%;
  }

  .box3 {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-right: 15px;
  }

  .box {
    width: 86%;
    margin: 10px;
  }
}
